table, th, td {
    border: 1px solid black;
}

.movie_date {
    background: darkgrey;
    color: #232741;
}

.movie_name{
    background: lavender;
    width: 200px;
}

.movie_time{
    background: gainsboro;
    width: 75px;
}